<li class="pokemon-card" (click)="select()">
  <img class="pokemon-card__image" src="./assets/{{pokemon?.id}}.png" alt="{{pokemon?.name}}">
  <div class="pokemon-card__body">
    <h4>{{pokemon?.name}}</h4>
  </div>
</li>
