.pokemons-list {
  list-style-type: none;
  padding: 0;
  display: block;
  grid-gap: 1rem;
  margin-left: 5%;
  margin-right: 5%;
}

/*large screen*/
@media screen and (min-width: 45rem) {
  .pokemons-list {
    margin-right: 13.3%;
    margin-left: 13.3%;
    display: block;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  }
}
