<ul class="pokemons-list" style="margin-top: 10px">
  <app-pokemon
    [pokemon]="pokemon"
    *ngFor="let pokemon of pokemons"
  ></app-pokemon>
</ul>

<div class="text-center mb-3">
  <div class="btn-group">
    <button class="btn btn-outline-danger" (click)="previous()"><- Previous</button>
    <button class="btn btn-outline-primary" (click)="next()">Next -></button>
  </div>
</div>
