<main class="container">
    <form #loginForm="ngForm" class="mb-3">
      <div class="form-group mb-3" id="input_field">
        <label for="username" class="h4">Username</label>
        <input type="text" class="form-control" name="username" id="username" placeholder="Enter username" required
               [(ngModel)]="username">
      </div>
      <button [disabled]="loginForm.form.invalid" (click)="onLogin()" class="btn btn-primary">Log in</button>
    </form>
</main>
