.pokemons-list {
  margin-top: 5%;
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-gap: 1rem;
}

/*large screen*/
@media screen and (min-width: 45rem) {
  .pokemons-list {
    margin-right: 50%;
    margin-left: 50%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  }
}
