<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">

    <a class="navbar-brand">
      <img src="assets/pokeball-logo.png" alt="pokemon logo" width="30" height="30" class="d-inline-block align-text-top">
      Pokemon Catalog
    </a>
    <form class="d-flex">
      <button class="btn btn-success" (click)="goToTrainer()">Trainer</button>
      <button class="btn btn-danger" (click)="signOut()">Sign out</button>
    </form>
  </div>
</nav>

<app-pokemons></app-pokemons>
